<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | About</title>
  </head>
  <body>
    <h1>ABOUT ME</h1>
    <p>I love myself and I am totally awesome</p>
  </body>
</html>
