<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Contact</title>
  </head>
  <body>
    <h1>Contact information</h1>
    <p>There is absolutely no way to contact me, suck it</p>
  </body>
</html>
